<div class="container mt-3">
  <div class="op01" *ngIf="!action">
    <div class="banner1">Coleções</div>
    <button class="btn btn-dark action-button" (click)="setAction('cadastrar')">Cadastrar Nova Coleção</button>
    <button class="btn btn-dark action-button" (click)="setAction('consultar')">Consultar Coleções</button>
    <button class="btn btn-dark action-button" (click)="setAction('editar')">Editar Coleção</button>
    <button class="btn btn-dark action-button" (click)="setAction('excluir')">Excluir Coleção</button>
    <button class="btn btn-dark action-button" (click)="goToIndex()">Voltar</button>
  </div>

  <!-- Inicio do cadastro -->
  <div *ngIf="action === 'cadastrar'">
    <div class="banner">CADASTRO DE COLEÇÃO</div>
    <form #colecaoForm="ngForm" (ngSubmit)="addColecao()">
      <div class="principal">
        <div class="input-item" id="descricao-box">
          <label for="descricao">Descrição:</label>
          <input class="input-caixa" type="text" id="descricao" name="descricao" [(ngModel)]="colecao.Descricao" #descricao="ngModel" required maxlength="100">
        </div>
        <div class="input-item" id="codigo-box">
          <label for="codigo">Código:</label>
          <input type="text" id="codigo" name="codigo" [(ngModel)]="colecao.Codigo" #codigo="ngModel" maxlength="10">
        </div>
        <div class="input-item" id="status-box">
          <label for="status">Status:</label>
          <select id="status" name="status" [(ngModel)]="colecao.Status" #status="ngModel" required>
            <option value="Ativo">Ativo</option>
            <option value="Inativo">Inativo</option>
            <option value="Finalizado">Finalizado</option>
            <option value="Projetado">Projetado</option>
          </select>
        </div>
      </div>
      <div id="success-message" *ngIf="successMessage">Coleção adicionada com sucesso!</div>
      <div class="btn01">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-primary" (click)="resetAction()">Cancelar</button>
      </div>
    </form>
  </div>
  <!-- Fim do cadastro -->

  <!-- Inicio do consultar -->
  <div *ngIf="action === 'consultar'">
    <div *ngIf="!colecaoSelecionada">
      <label for="colecao">Selecione uma Coleção</label>
      <select id="colecao" (change)="onColecaoChange($event)" class="form-control">
        <option value="" disabled selected>Selecione uma coleção</option>
        <option *ngFor="let colecao of colecoes" [value]="colecao.Idcolecao">{{ colecao.Descricao }} ({{ colecao.Codigo }})</option>
      </select>
      <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
    </div>

    <div *ngIf="colecaoSelecionada">
      <div class="banner">CONSULTA DE COLEÇÃO</div>
      <form>
        <div class="principal">
          <div class="input-item" id="descricao-box">
            <label for="descricao">Descrição:</label>
            <input class="input-caixa" type="text" id="descricao" name="descricao" [(ngModel)]="colecaoSelecionada.Descricao" #descricao="ngModel" disabled>
          </div>
          <div class="input-item" id="codigo-box">
            <label for="codigo">Código:</label>
            <input type="text" id="codigo" name="codigo" [(ngModel)]="colecaoSelecionada.Codigo" #codigo="ngModel" disabled>
          </div>
          <div class="input-item" id="status-box">
            <label for="status">Status:</label>
            <input type="text" id="status" name="status" [(ngModel)]="colecaoSelecionada.Status" #status="ngModel" disabled>
          </div>
        </div>
        <div class="btn01">
          <button type="button" class="btn btn-primary" (click)="resetAction()">Voltar</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Fim do consultar -->

  <!-- Inicio do Editar -->
  <div *ngIf="action === 'editar'">
    <div *ngIf="!colecaoSelecionada">
      <label for="colecao">Selecione uma Coleção</label>
      <select id="colecao" (change)="onColecaoChange($event)" class="form-control">
        <option value="" disabled selected>Selecione uma coleção</option>
        <option *ngFor="let colecao of colecoes" [value]="colecao.Idcolecao">{{ colecao.Descricao }} ({{ colecao.Codigo }})</option>
      </select>
      <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
    </div>

    <div *ngIf="colecaoSelecionada">
      <div class="banner">ALTERAÇÃO DE COLEÇÃO</div>
      <form #colecaoForm="ngForm" (ngSubmit)="updateColecao()">
        <div class="principal">
          <div class="input-item" id="descricao-box">
            <label for="descricao">Descrição:</label>
            <input class="input-caixa" type="text" id="descricao" name="descricao" [(ngModel)]="colecao.Descricao" #descricao="ngModel" required maxlength="100">
          </div>
          <div class="input-item" id="codigo-box">
            <label for="codigo">Código:</label>
            <input type="text" id="codigo" name="codigo" [(ngModel)]="colecao.Codigo" #codigo="ngModel" maxlength="10">
          </div>
          <div class="input-item" id="status-box">
            <label for="status">Status:</label>
            <select id="status" name="status" [(ngModel)]="colecao.Status" #status="ngModel" required>
              <option value="Ativo">Ativo</option>
              <option value="Inativo">Inativo</option>
              <option value="Finalizado">Finalizado</option>
              <option value="Projetado">Projetado</option>
            </select>
          </div>
        </div>
        <div id="success-message" *ngIf="successMessage">Coleção atualizada com sucesso!</div>
        <div class="btn01">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <button type="button" class="btn btn-primary" (click)="resetAction()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Fim do Editar -->

  <!-- Inicio do Excluir -->
  <div *ngIf="action === 'excluir'">
    <h2>Excluir Coleção</h2>
    <div *ngIf="colecaoSelecionada">
      <p>Tem certeza que deseja excluir a coleção {{ colecaoSelecionada.Descricao }} ({{ colecaoSelecionada.Codigo }})?</p>
      <button type="button" class="btn btn-danger" (click)="deleteColecao()">Excluir</button>
      <button type="button" class="btn btn-secondary" (click)="resetAction()">Cancelar</button>
    </div>
    <div *ngIf="!colecaoSelecionada">
      <label for="colecao">Selecione uma Coleção</label>
      <select id="colecao" (change)="onColecaoChange($event)" class="form-control">
        <option value="" disabled selected>Selecione uma coleção</option>
        <option *ngFor="let colecao of colecoes" [value]="colecao.Idcolecao">{{ colecao.Descricao }} ({{ colecao.Codigo }})</option>
      </select>
      <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
    </div>
  </div>
  <!-- Fim do Excluir -->

</div>
