<div class="banner">SYSTAK - SISTEMA DE GESTÃO</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="cadastroDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cadastro
          </a>
          <div class="dropdown-menu" aria-labelledby="cadastroDropdown">
            
            <a class="dropdown-item" routerLink="/cadastro/clientes2">Clientes</a>
            <a class="dropdown-item" routerLink="/cadastro/fornecedores">Fornecedores</a>
            <a class="dropdown-item" routerLink="/cadastro/funcionarios">Funcionários</a>
            <a class="dropdown-item" routerLink="/cadastro/lojas">Lojas</a>
            <a class="dropdown-item" routerLink="/cadastro/users">Usuarios</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="estoqueDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Financeiro
          </a>
          <div class="dropdown-menu" aria-labelledby="estoqueDropdown">
            <div class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Contas a Receber</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/financeiro">Consulta</a>
                <a class="dropdown-item" routerLink="/financeiro">Cadastro</a>
                <a class="dropdown-item" routerLink="/financeiro">Baixa</a>
                <a class="dropdown-item" routerLink="/financeiro">Negociação</a> 
                <a class="dropdown-item" routerLink="/financeiro">Relatórios</a> 
              </div>
            </div>
            <div class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Contas a Pagar</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/financeiro">Consulta</a>
                <a class="dropdown-item" routerLink="/financeiro">Cadastro</a>
                <a class="dropdown-item" routerLink="/financeiro">Baixa</a>
                <a class="dropdown-item" routerLink="/financeiro">Negociação</a>
                <a class="dropdown-item" routerLink="/financeiro">Relatórios</a> 
              </div>
            </div>
            <div class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Operacional</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/financeiro">Conciliação</a>
                <a class="dropdown-item" routerLink="/financeiro">Planejamento</a>
              </div>
            </div>
          </div>


        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="vendaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vendas
          </a>
          <div class="dropdown-menu" aria-labelledby="vendaDropdown">
            <a class="dropdown-item" routerLink="/vendas/pdv">PDV</a>
            <a class="dropdown-item" routerLink="/vendas/tabela-preco">Tabela de Preço</a>
            <a class="dropdown-item" routerLink="vendas/vendas-por-vendedor">Venda por Vendedor</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="estoqueDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Produtos
          </a>
          <div class="dropdown-menu" aria-labelledby="estoqueDropdown">
            <a class="dropdown-item" routerLink="/cadastro/produtos">Produtos</a>
            <a class="dropdown-item" routerLink="/cadastro/etiquetas">Etiquetas</a>
            <a class="dropdown-item" routerLink="/cadastro/etiquetas2">Etiquetas - Coleção</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Classificação</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/configuradores/familia">Familia</a>
                <a class="dropdown-item" routerLink="/estoque/grupo">Grupo</a>
                <a class="dropdown-item" routerLink="/estoque/subgrupos">Subgrupo</a>
                <a class="dropdown-item" routerLink="/estoque/grupodetalhe">Grupo-Detalhe</a>
              </div>
            </div>
            <div class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Características</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/configuradores/colecao">Coleção</a>
                <a class="dropdown-item" routerLink="/configuradores/cores">Cor</a>
                <a class="dropdown-item" routerLink="/configuradores/grades">Grade</a>
                <a class="dropdown-item" routerLink="/configuradores/tamanhos">Tamanho</a>
                <a class="dropdown-item" routerLink="/configuradores/unidade">Unidade</a>
                <a class="dropdown-item" routerLink="/configuradores/material">Material</a>
              </div>
            </div>
            <div class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Operacional</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/estoque/remarcacao">Remarcação</a>
                <a class="dropdown-item" routerLink="/estoque-inicial">Iniciar Estoque</a>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="estoqueDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Compras
          </a>
          <div class="dropdown-menu" aria-labelledby="estoqueDropdown">
            <div class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Pedidos</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/financeiro">Cadastro</a>
                <a class="dropdown-item" routerLink="/financeiro">Recebimento</a>
                <a class="dropdown-item" routerLink="/financeiro">Relatórios</a> 
              </div>
            </div>
            <div class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Orçamento</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/financeiro">Cadastro</a>
                <a class="dropdown-item" routerLink="/financeiro">Aprovação</a>
                <a class="dropdown-item" routerLink="/financeiro">Relatórios</a> 
              </div>
            </div>
          </div>

        <li class="nav-item">
          <a class="nav-link" routerLink="/relatorios">Dashboards</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="configuradoresDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Configuradores
          </a>
          <div class="dropdown-menu" aria-labelledby="configuradoresDropdown">
            <a class="dropdown-item" routerLink="/configuradores/natureza-lancamentos">Natureza</a>
      
            
            
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/sair">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
