<div class="container mt-3">
    <div class="op01" *ngIf="!action">
      <div class="banner1">Grades</div>
      <button class="btn btn-dark action-button" (click)="setAction('cadastrar')">Cadastrar Nova Grade</button>
      <button class="btn btn-dark action-button" (click)="setAction('consultar')">Consultar Grades</button>
      <button class="btn btn-dark action-button" (click)="setAction('editar')">Editar Grade</button>
      <button class="btn btn-dark action-button" (click)="setAction('excluir')">Excluir Grade</button>
      <button class="btn btn-dark action-button" (click)="goToIndex()">Voltar</button>
    </div>
  
    <!-- Inicio do cadastro -->
    <div *ngIf="action === 'cadastrar'">
      <div class="banner">CADASTRO DE GRADE</div>
      <form #gradeForm="ngForm" (ngSubmit)="addGrade()">
        <div class="principal">
          <div class="input-item" id="descricao-box">
            <label for="descricao">Descrição:</label>
            <input class="input-caixa" type="text" id="descricao" name="descricao" [(ngModel)]="grade.Descricao" #descricao="ngModel" required maxlength="100">
          </div>
          <div class="input-item" id="status-box">
            <label for="status">Status:</label>
            <select id="status" name="status" [(ngModel)]="grade.Status" #status="ngModel" required>
              <option value="Ativa">Ativa</option>
              <option value="Desativada">Desativada</option>
              <option value="Planejamento">Planejamento</option>
            </select>
          </div>
        </div>
  
        <div id="success-message" *ngIf="successMessage">Grade adicionada com sucesso!</div>
  
        <div class="btn01">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <button type="button" class="btn btn-primary" (click)="resetAction()">Cancelar</button>
        </div>
      </form>
    </div>
    <!-- Fim do cadastro -->
  
    <!-- Inicio do consultar -->
    <div *ngIf="action === 'consultar'">
      <div *ngIf="!gradeSelecionada">
        <label for="grade">Selecione uma Grade</label>
        <select id="grade" (change)="onGradeChange($event)" class="form-control">
          <option value="" disabled selected>Selecione uma grade</option>
          <option *ngFor="let grade of grades" [value]="grade.Idgrade">{{ grade.Descricao }}</option>
        </select>
        <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
      </div>
  
      <div *ngIf="gradeSelecionada">
        <div class="banner">CONSULTA DE GRADE</div>
        <form>
          <div class="principal">
            <div class="input-item" id="descricao-box">
              <label for="descricao">Descrição:</label>
              <input class="input-caixa" type="text" id="descricao" name="descricao" [(ngModel)]="gradeSelecionada.Descricao" #descricao="ngModel" disabled>
            </div>
            <div class="input-item" id="status-box">
              <label for="status">Status:</label>
              <input type="text" id="status" name="status" [(ngModel)]="gradeSelecionada.Status" #status="ngModel" disabled>
            </div>
          </div>
  
          <div class="btn01">
            <button type="button" class="btn btn-primary" (click)="resetAction()">Voltar</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Fim do consultar -->
  
    <!-- Inicio do Editar -->
    <div *ngIf="action === 'editar'">
      <div *ngIf="!gradeSelecionada">
        <label for="grade">Selecione uma Grade</label>
        <select id="grade" (change)="onGradeChange($event)" class="form-control">
          <option value="" disabled selected>Selecione uma grade</option>
          <option *ngFor="let grade of grades" [value]="grade.Idgrade">{{ grade.Descricao }}</option>
        </select>
        <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
      </div>
  
      <div *ngIf="gradeSelecionada">
        <div class="banner">ALTERAÇÃO DE GRADE</div>
        <form #gradeForm="ngForm" (ngSubmit)="updateGrade()">
          <div class="principal">
            <div class="input-item" id="descricao-box">
              <label for="descricao">Descrição:</label>
              <input class="input-caixa" type="text" id="descricao" name="descricao" [(ngModel)]="grade.Descricao" #descricao="ngModel" required maxlength="100">
            </div>
            <div class="input-item" id="status-box">
              <label for="status">Status:</label>
              <select id="status" name="status" [(ngModel)]="grade.Status" #status="ngModel" required>
                <option value="Ativa">Ativa</option>
                <option value="Desativada">Desativada</option>
                <option value="Planejamento">Planejamento</option>
              </select>
            </div>
          </div>
  
          <div id="success-message" *ngIf="successMessage">Grade atualizada com sucesso!</div>
  
          <div class="btn01">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn btn-primary" (click)="resetAction()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Fim do Editar -->
  
    <!-- Inicio do Excluir -->
    <div *ngIf="action === 'excluir'">
      <h2>Excluir Grade</h2>
      <div *ngIf="gradeSelecionada">
        <p>Tem certeza que deseja excluir a grade {{ gradeSelecionada.Descricao }}?</p>
        <button type="button" class="btn btn-danger" (click)="deleteGrade()">Excluir</button>
        <button type="button" class="btn btn-secondary" (click)="resetAction()">Cancelar</button>
      </div>
      <div *ngIf="!gradeSelecionada">
        <label for="grade">Selecione uma Grade</label>
        <select id="grade" (change)="onGradeChange($event)" class="form-control">
          <option value="" disabled selected>Selecione uma grade</option>
          <option *ngFor="let grade of grades" [value]="grade.Idgrade">{{ grade.Descricao }}</option>
        </select>
        <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
      </div>
    </div>
    <!-- Fim do Excluir -->
  
  </div>
  
