<div class="container mt-3">
  <div class="op01" *ngIf="!action">
    <div class="banner1">Usuários</div>
    <button class="btn btn-dark action-button" (click)="setAction('cadastrar')">Cadastrar Novo Usuário</button>
    <button class="btn btn-dark action-button" (click)="setAction('consultar')">Consultar Usuários</button>
    <button class="btn btn-dark action-button" (click)="setAction('editar')">Editar Usuário</button>
    <button class="btn btn-dark action-button" (click)="setAction('excluir')">Excluir Usuário</button>
    <button class="btn btn-dark action-button" (click)="goToIndex()">Voltar</button>
  </div>

  <!-- Cadastro -->
  <div *ngIf="action === 'cadastrar'">
    <div class="banner">CADASTRO DE USUÁRIO</div>
    <form #userForm="ngForm" (ngSubmit)="addUser()">
      <div class="principal">
        <div class="field-group">
          <div class="input-item" id="username-box">
            <label for="username">Username:</label>
            <input class="input-caixa" type="text" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" required maxlength="150">
          </div>
          <div class="input-item" id="first_name-box">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" [(ngModel)]="user.first_name" #first_name="ngModel" maxlength="150">
          </div>
          <div class="input-item" id="last_name-box">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" [(ngModel)]="user.last_name" #last_name="ngModel" maxlength="150">
          </div>
          <div class="input-item" id="email-box">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" required maxlength="254">
          </div>
        </div>

        <div class="field-group5">
          <div class="input-item" id="password-box">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
          </div>
          <div class="input-item" id="type-box">
            <label for="type">Type:</label>
            <select id="type" name="type" [(ngModel)]="user.type" #type="ngModel" required>
              <option value="Regular">Regular</option>
              <option value="Admin">Admin</option>
              <option value="Gerente">Gerente</option>
              <option value="Caixa">Caixa</option>
              
            </select>
          </div>
        </div>

        <div id="success-message" *ngIf="successMessage">{{ successMessage }}</div>
        <div id="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      </div>

      <div class="btn01">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-primary" (click)="resetAction()">Cancelar</button>
      </div>
    </form>
  </div>
  <!-- Fim do cadastro -->

  <!-- Consultar -->
  <div *ngIf="action === 'consultar'">
    <div *ngIf="!userSelecionado">
      <label for="user">Selecione um Usuário</label>
      <select id="user" (change)="onUserChange($event)" class="form-control">
        <option value="" disabled selected>Selecione um usuário</option>
        <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
      </select>
      <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
    </div>

    <div *ngIf="userSelecionado">
      <div class="banner">CONSULTA DE USUÁRIO</div>
      <form>
        <div class="principal">
          <div class="field-group">
            <div class="input-item" id="username-box">
              <label for="username">Username:</label>
              <input class="input-caixa" type="text" id="username" name="username" [(ngModel)]="userSelecionado.username" #username="ngModel" disabled>
            </div>
            <div class="input-item" id="first_name-box">
              <label for="first_name">First Name:</label>
              <input type="text" id="first_name" name="first_name" [(ngModel)]="userSelecionado.first_name" #first_name="ngModel" disabled>
            </div>
            <div class="input-item" id="last_name-box">
              <label for="last_name">Last Name:</label>
              <input type="text" id="last_name" name="last_name" [(ngModel)]="userSelecionado.last_name" #last_name="ngModel" disabled>
            </div>
            <div class="input-item" id="email-box">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" [(ngModel)]="userSelecionado.email" #email="ngModel" disabled>
            </div>
          </div>

          <div class="field-group5">
            <div class="input-item" id="type-box">
              <label for="type">Type:</label>
              <input type="text" id="type" name="type" [(ngModel)]="userSelecionado.type" #type="ngModel" disabled>
            </div>
          </div>

          <div class="btn01">
            <button type="button" class="btn btn-primary" (click)="resetAction()">Voltar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Fim do consultar -->

  <!-- Editar -->
  <div *ngIf="action === 'editar'">
    <div *ngIf="!userSelecionado">
      <label for="user">Selecione um Usuário</label>
      <select id="user" (change)="onUserChange($event)" class="form-control">
        <option value="" disabled selected>Selecione um usuário</option>
        <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
      </select>
      <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
    </div>

    <div *ngIf="userSelecionado">
      <div class="banner">ALTERAÇÃO DE USUÁRIO</div>
      <form #userForm="ngForm" (ngSubmit)="updateUser()">
        <div class="principal">
          <div class="field-group">
            <div class="input-item" id="username-box">
              <label for="username">Username:</label>
              <input class="input-caixa" type="text" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" required maxlength="150">
            </div>
            <div class="input-item" id="first_name-box">
              <label for="first_name">First Name:</label>
              <input type="text" id="first_name" name="first_name" [(ngModel)]="user.first_name" #first_name="ngModel" maxlength="150">
            </div>
            <div class="input-item" id="last_name-box">
              <label for="last_name">Last Name:</label>
              <input type="text" id="last_name" name="last_name" [(ngModel)]="user.last_name" #last_name="ngModel" maxlength="150">
            </div>
            <div class="input-item" id="email-box">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" required maxlength="254">
            </div>
          </div>

          <div class="field-group5">
            <div class="input-item" id="type-box">
              <label for="type">Type:</label>
              <select id="type" name="type" [(ngModel)]="user.type" #type="ngModel" required>
                <option value="Regular">Regular</option>
                <option value="Admin">Admin</option>
              </select>
            </div>
          </div>

          <div id="success-message" *ngIf="successMessage">{{ successMessage }}</div>
          <div id="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
        </div>

        <div class="btn01">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <button type="button" class="btn btn-primary" (click)="resetAction()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Fim do editar -->

  <!-- Excluir -->
  <div *ngIf="action === 'excluir'">
    <h2>Excluir Usuário</h2>
    <div *ngIf="userSelecionado">
      <p>Tem certeza que deseja excluir o usuário {{ userSelecionado.username }}?</p>
      <button type="button" class="btn btn-danger" (click)="deleteUser()">Excluir</button>
      <button type="button" class="btn btn-secondary" (click)="resetAction()">Cancelar</button>
    </div>
    <div *ngIf="!userSelecionado">
      <label for="user">Selecione um Usuário</label>
      <select id="user" (change)="onUserChange($event)" class="form-control">
        <option value="" disabled selected>Selecione um usuário</option>
        <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
      </select>
      <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
    </div>
  </div>
  <!-- Fim do excluir -->
</div>
