<div class="container-fluid mt-3">
  <div class="op01" *ngIf="!action || action === 'consultar' || action === 'editar' || action === 'excluir'">
    <div class="banner1">Produtos</div>
    <button class="btn btn-dark action-button" (click)="setAction('cadastrar')">Cadastrar Novo Produto</button>
    <button class="btn btn-dark action-button" (click)="setAction('consultar')">Consultar Produtos</button>
    <button class="btn btn-dark action-button" (click)="setAction('editar')">Editar Produto</button>
    <button class="btn btn-dark action-button" (click)="setAction('excluir')">Excluir Produto</button>
    <button class="btn btn-dark action-button" (click)="goToIndex()">Voltar</button>
  </div>

  <!-- Cadastro de Produto -->
  <div *ngIf="action === 'cadastrar' || action === 'adicionarCor'">
    <div class="banner">CADASTRO DE PRODUTO</div>
    <form (ngSubmit)="addProduto()">
      <div class="principal">
        <div class="field-group">
          <div class="input-item" id="referencia-box">
            <label for="referencia">Referência:</label>
            <input class="input-caixa" type="text" id="referencia" name="referencia" [(ngModel)]="produto.referencia" #referencia="ngModel" readonly>
          </div>

          <div class="input-item" id="colecao-box">
            <label for="colecao">Coleção:</label>
            <select id="colecao" name="colecao" [(ngModel)]="produto.colecao" (change)="onColecaoChange($event)">
              <option *ngFor="let colecao of colecoes" [value]="colecao.Idcolecao">{{ colecao.Descricao }}</option>
            </select>
          </div>

          <div class="input-item" id="grupo-box">
            <label for="grupo">Grupo:</label>
            <select id="grupo" name="grupo" [(ngModel)]="produto.grupo" (change)="onGrupoChange($event)">
              <option *ngFor="let grupo of grupos" [value]="grupo.Idgrupo">{{ grupo.Descricao }}</option>
            </select>
          </div>

          <div class="input-item" id="subgrupo-box">
            <label for="subgrupo">Subgrupo:</label>
            <select id="subgrupo" name="subgrupo" [(ngModel)]="produto.subgrupo">
              <option *ngFor="let subgrupo of subgruposFiltrados" [value]="subgrupo.Idsubgrupo">{{ subgrupo.Descricao }}</option>
            </select>
          </div>

          <div class="input-item" id="grade-box">
            <label for="grade">Grade:</label>
            <select id="grade" name="grade" [(ngModel)]="produto.grade">
              <option *ngFor="let grade of grades" [value]="grade.Idgrade">{{ grade.Descricao }}</option>
            </select>
          </div>

          <div class="input-item" id="familia-box">
            <label for="familia">Família:</label>
            <select id="familia" name="familia" [(ngModel)]="produto.familia">
              <option *ngFor="let familia of familias" [value]="familia.Idfamilia">{{ familia.Descricao }}</option>
            </select>
          </div>

          <div class="input-item" id="tipo-box">
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" name="tipo" [(ngModel)]="produto.Tipoproduto" #tipo="ngModel" maxlength="1">
          </div>

          <div class="input-item" id="material-box">
            <label for="material">Material:</label>
            <select id="material" name="material" [(ngModel)]="produto.Material">
              <option *ngFor="let material of materiais" [value]="material.Idmaterial">{{ material.Descricao }}</option>
            </select>
          </div>

          <div class="input-item" id="unidade-box">
            <label for="unidade">Unidade:</label>
            <select id="unidade" name="unidade" [(ngModel)]="produto.unidade">
              <option *ngFor="let unidade of unidades" [value]="unidade.Idunidade">{{ unidade.Descricao }}</option>
            </select>
          </div>

          <div class="input-item" id="classificacao-fiscal-box">
            <label for="classificacao_fiscal">Classificação Fiscal:</label>
            <select id="classificacao_fiscal" name="classificacao_fiscal" [(ngModel)]="produto.classificacao_fiscal" (change)="onClassificacaoFiscalChange($event)">
              <option *ngFor="let ncm of ncms" [value]="ncm.ncm">{{ ncm.ncm }} - {{ truncate(ncm.descricao, 30) }}</option>
            </select>
          </div>
        </div>

        <div class="field-group7">
          <div class="input-item" id="descricao-box">
            <label for="descricao">Descrição:</label>
            <input class="input-caixa" type="text" id="descricao" name="descricao" [(ngModel)]="produto.Descricao" #descricao="ngModel" required maxlength="100">
          </div>

          <div class="input-item" id="desc-reduzida-box">
            <label for="desc_reduzida">Descrição Reduzida:</label>
            <input type="text" id="desc_reduzida" name="desc_reduzida" [(ngModel)]="produto.Desc_reduzida" #desc_reduzida="ngModel" maxlength="100">
          </div>
        

          <!-- Seção para selecionar Tabela de Preço e Preço do Produto -->
          <div class="input-item" id="tabela-preco-box">
            <label for="tabela_preco">Tabela de Preço:</label>
            <select id="tabela_preco" name="tabela_preco" [(ngModel)]="produto['tabela_preco']" (change)="onTabelaPrecoChange($event)">
              <option *ngFor="let tabela of tabelasPreco" [value]="tabela.Idtabela">{{ tabela.NomeTabela }}</option>
            </select>
          </div>

          <div class="input-item" id="preco-box">
            <label for="preco">Preço:</label>
            <input type="text" id="preco" name="preco" [(ngModel)]="produto['preco']" required>
          </div>
          <!-- Fim da Seção -->
        </div>






        <div class="field-group4">
          <div class="input-item" id="produto-foto-box">
            <label for="produto_foto">Foto do Produto:</label>
            <input type="text" id="produto_foto" name="produto_foto" [(ngModel)]="produto.produto_foto" (blur)="prefixImagePath('produto_foto')">
            <img *ngIf="produto.produto_foto" [src]="produto.produto_foto | safeUrl" alt="Foto do Produto" style="max-width: 200px; margin-top: 10px;">
          </div>

          <div class="input-item" id="produto-foto1-box">
            <label for="produto_foto1">Foto Adicional 1:</label>
            <input type="text" id="produto_foto1" name="produto_foto1" [(ngModel)]="produto.produto_foto1" (blur)="prefixImagePath('produto_foto1')">
            <img *ngIf="produto.produto_foto1" [src]="produto.produto_foto1 | safeUrl" alt="Foto Adicional 1" style="max-width: 200px; margin-top: 10px;">
          </div>

          <div class="input-item" id="produto-foto2-box">
            <label for="produto_foto2">Foto Adicional 2:</label>
            <input type="text" id="produto_foto2" name="produto_foto2" [(ngModel)]="produto.produto_foto2" (blur)="prefixImagePath('produto_foto2')">
            <img *ngIf="produto.produto_foto2" [src]="produto.produto_foto2 | safeUrl" alt="Foto Adicional 2" style="max-width: 200px; margin-top: 10px;">
          </div>

          <div class="btn01" id="botao-box" *ngIf="action !== 'adicionarCor'">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn btn-primary" (click)="resetAction()">Cancelar</button>
          </div>

        </div>

        <div id="success-message" *ngIf="successMessage">{{ successMessage }}</div>
      </div>

   


    </form>
  </div>

  <!-- Adicionar Cor e Tamanhos -->
 <!--  <div class="btn01" *ngIf="action === 'adicionarCor'">
    <div class="bannercor">COR E TAMANHOS</div>
    <form (ngSubmit)="listarCombinacoes()">

      <div class="field-group99">
        <div class="input-item99" id="cor-box">
          <label for="cor">Cor:</label>
          <select id="cor" name="cor" [(ngModel)]="selectedCor" (change)="onCorChange($event)">
            <option *ngFor="let cor of cores" [value]="cor.Idcor">{{ cor.Descricao }}</option>
          </select>
        </div>
        <div class="button-container99">
          <button type="submit" class="btn btn-primary">Gerar Códigos</button>
        </div>
      </div>

    </form>
    <div class="btn01" *ngIf="combinacoes.length > 0">
      <h3>Códigos Gerados:</h3>
      <ul>
        <li *ngFor="let combinacao of combinacoes">
          Cor: {{ combinacao.cor.Descricao }}, Tamanho: {{ combinacao.tamanho.Tamanho }}, Código de Barras: {{ combinacao.codigoDeBarras }}
        </li>
      </ul>
    </div>
    <div class="btn01">
      <button type="button" class="btn btn-primary" (click)="adicionarOutraCor()">Adicionar Outra Cor</button>
      <button type="button" class="btn btn-primary" (click)="finalizar()">Finalizar</button>
    </div>
  </div> -->

  <!-- Adicionar Cor e Tamanhos -->
<div class="section-container" *ngIf="action === 'adicionarCor'">
  <div class="left-section">
    <div class="bannercor">COR E TAMANHOS</div>
    <form (ngSubmit)="listarCombinacoes()">
      <div class="field-group99">
        <div class="input-item99" id="cor-box">
          <label for="cor">Cor:</label>
          <select id="cor" name="cor" [(ngModel)]="selectedCor" (change)="onCorChange($event)">
            <option *ngFor="let cor of cores" [value]="cor.Idcor">{{ cor.Descricao }}</option>
          </select>
        </div>
        <div class="button-container99">
          <button type="submit" class="btn btn-primary">Gerar Códigos</button>
        </div>
      </div>
    </form>
    <div class="btn01" *ngIf="combinacoes.length > 0">
      <h3>Códigos Gerados:</h3>
      <ul>
        <li *ngFor="let combinacao of combinacoes">
          Cor: {{ combinacao.cor.Descricao }}, Tamanho: {{ combinacao.tamanho.Tamanho }}, Código de Barras: {{ combinacao.codigoDeBarras }}
        </li>
      </ul>
    </div>
    <div class="btn01">
      <button type="button" class="btn btn-primary" (click)="adicionarOutraCor()">Adicionar Outra Cor</button>
      <button type="button" class="btn btn-primary" (click)="finalizar()">Finalizar</button>
    </div>
  </div>

  <div class="right-section">
    <div class="bannercor">TABELA DE PREÇOS</div>
    <form (ngSubmit)="vincularPrecos()">
      <div class="field-group99">
        <div class="input-item99" id="preco-box">
          <label for="preco">Preço:</label>
          <input type="text" id="preco" name="preco" [(ngModel)]="preco" required>
        </div>
        <div class="button-container99">
          <button type="submit" class="btn btn-primary">Vincular Preço</button>
        </div>
      </div>
    </form>
    <div class="btn01" *ngIf="precos.length > 0">
      <h3>Preços Vinculados:</h3>
      <ul>
        <li *ngFor="let preco of precos">
          Código de Barras: {{ preco.codigoDeBarras }}, Preço: {{ preco.valor }}
        </li>
      </ul>
    </div>
  </div>
</div>




  <!-- Consulta de Produto -->
  <div *ngIf="action === 'consultar'">
    <div *ngIf="!produtoSelecionado">
      <label for="produto">Selecione um Produto</label>
      <select id="produto" (change)="onProdutoChange($event)" class="form-control">
        <option value="" disabled selected>Selecione um Produto</option>
        <option *ngFor="let produto of produtos" [value]="produto.Idproduto">{{ produto.Descricao }}</option>
      </select>
      <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
    </div>

    <div *ngIf="produtoSelecionado">
      <div class="banner">CONSULTA DE PRODUTO</div>
      <form>
        <div class="principal">
          <div class="field-group">
            <div class="input-item" id="referencia-box">
              <label for="referencia">Referência:</label>
              <input class="input-caixa" type="text" id="referencia" name="referencia" [(ngModel)]="produtoSelecionado.referencia" #referencia="ngModel" readonly>
            </div>

            <div class="input-item" id="colecao-box">
              <label for="colecao">Coleção:</label>
              <input class="input-caixa" type="text" id="colecao" name="colecao" [(ngModel)]="produtoSelecionado['colecaoDescricao']" #colecao="ngModel" disabled>
            </div>

            <div class="input-item" id="grupo-box">
              <label for="grupo">Grupo:</label>
              <input class="input-caixa" type="text" id="grupo" name="grupo" [(ngModel)]="produtoSelecionado['grupoDescricao']" #grupo="ngModel" disabled>
            </div>

            <div class="input-item" id="subgrupo-box">
              <label for="subgrupo">Subgrupo:</label>
              <input class="input-caixa" type="text" id="subgrupo" name="subgrupo" [(ngModel)]="produtoSelecionado['subgrupoDescricao']" #subgrupo="ngModel" disabled>
            </div>

            <div class="input-item" id="grade-box">
              <label for="grade">Grade:</label>
              <input class="input-caixa" type="text" id="grade" name="grade" [(ngModel)]="produtoSelecionado['gradeDescricao']" #grade="ngModel" disabled>
            </div>

            <div class="input-item" id="familia-box">
              <label for="familia">Família:</label>
              <input class="input-caixa" type="text" id="familia" name="familia" [(ngModel)]="produtoSelecionado['familiaDescricao']" #familia="ngModel" disabled>
            </div>

            <div class="input-item" id="tipo-box">
              <label for="tipo">Tipo:</label>
              <input class="input-caixa" type="text" id="tipo" name="tipo" [(ngModel)]="produtoSelecionado.Tipoproduto" #tipo="ngModel" disabled>
            </div>

            <div class="input-item" id="material-box">
              <label for="material">Material:</label>
              <input class="input-caixa" type="text" id="material" name="material" [(ngModel)]="produtoSelecionado['materialDescricao']" #material="ngModel" disabled>
            </div>

            <div class="input-item" id="unidade-box">
              <label for="unidade">Unidade:</label>
              <input class="input-caixa" type="text" id="unidade" name="unidade" [(ngModel)]="produtoSelecionado['unidadeDescricao']" #unidade="ngModel" disabled>
            </div>

            <div class="input-item" id="classificacao-fiscal-box">
              <label for="classificacao_fiscal">Classificação Fiscal:</label>
              <input class="input-caixa" type="text" id="classificacao_fiscal_ncm" name="classificacao_fiscal_ncm" [(ngModel)]="produtoSelecionado.classificacao_fiscal" #classificacao_fiscal_ncm="ngModel" disabled>
            </div>
          </div>

          <div class="field-group7">
            <div class="input-item" id="descricao-box">
              <label for="descricao">Descrição:</label>
              <input class="input-caixa" type="text" id="descricao" name="descricao" [(ngModel)]="produtoSelecionado.Descricao" #descricao="ngModel" disabled>
            </div>

            <div class="input-item" id="desc-reduzida-box">
              <label for="desc_reduzida">Descrição Reduzida:</label>
              <input class="input-caixa" type="text" id="desc_reduzida" name="desc_reduzida" [(ngModel)]="produtoSelecionado.Desc_reduzida" #desc_reduzida="ngModel" disabled>
            </div>
          </div>

          <div class="field-group4">
            <div class="input-item" id="produto-foto-box">
              <label for="produto_foto">Foto do Produto:</label>
              <input class="input-caixa" type="text" id="produto_foto" name="produto_foto" [(ngModel)]="produtoSelecionado.produto_foto" #produto_foto="ngModel" disabled>
              <img *ngIf="produtoSelecionado.produto_foto" [src]="produtoSelecionado.produto_foto | safeUrl" alt="Foto do Produto" style="max-width: 200px; margin-top: 10px;">
            </div>

            <div class="input-item" id="produto-foto1-box">
              <label for="produto_foto1">Foto Adicional 1:</label>
              <input class="input-caixa" type="text" id="produto_foto1" name="produto_foto1" [(ngModel)]="produtoSelecionado.produto_foto1" #produto_foto1="ngModel" disabled>
              <img *ngIf="produtoSelecionado.produto_foto1" [src]="produtoSelecionado.produto_foto1 | safeUrl" alt="Foto Adicional 1" style="max-width: 200px; margin-top: 10px;">
            </div>

            <div class="input-item" id="produto-foto2-box">
              <label for="produto_foto2">Foto Adicional 2:</label>
              <input class="input-caixa" type="text" id="produto_foto2" name="produto_foto2" [(ngModel)]="produtoSelecionado.produto_foto2" #produto_foto2="ngModel" disabled>
              <img *ngIf="produtoSelecionado.produto_foto2" [src]="produtoSelecionado.produto_foto2 | safeUrl" alt="Foto Adicional 2" style="max-width: 200px; margin-top: 10px;">
            </div>
          </div>

          <div class="btn01">
            <button type="button" class="btn btn-primary" (click)="resetAction()">Voltar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Edição de Produto -->
  <div *ngIf="action === 'editar'">
    <div *ngIf="!produtoSelecionado">
      <label for="produto">Selecione um Produto</label>
      <select id="produto" (change)="onProdutoChange($event)" class="form-control">
        <option value="" disabled selected>Selecione um Produto</option>
        <option *ngFor="let produto of produtos" [value]="produto.Idproduto">{{ produto.Descricao }}</option>
      </select>
      <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
    </div>

    <div *ngIf="produtoSelecionado">
      <div class="banner">ALTERAÇÃO DE PRODUTO</div>
      <form (ngSubmit)="updateProduto()">
        <div class="principal">
          <div class="field-group">
            <div class="input-item" id="referencia-box">
              <label for="referencia">Referência:</label>
              <input class="input-caixa" type="text" id="referencia" name="referencia" [(ngModel)]="produto.referencia" #referencia="ngModel" readonly>
            </div>

            <div class="input-item" id="colecao-box">
              <label for="colecao">Coleção:</label>
              <select id="colecao" name="colecao" [(ngModel)]="produto.colecao">
                <option *ngFor="let colecao of colecoes" [value]="colecao.Idcolecao">{{ colecao.Descricao }}</option>
              </select>
            </div>

            <div class="input-item" id="grupo-box">
              <label for="grupo">Grupo:</label>
              <select id="grupo" name="grupo" [(ngModel)]="produto.grupo" (change)="onGrupoChange($event)">
                <option *ngFor="let grupo of grupos" [value]="grupo.Idgrupo">{{ grupo.Descricao }}</option>
              </select>
            </div>

            <div class="input-item" id="subgrupo-box">
              <label for="subgrupo">Subgrupo:</label>
              <select id="subgrupo" name="subgrupo" [(ngModel)]="produto.subgrupo">
                <option *ngFor="let subgrupo of subgruposFiltrados" [value]="subgrupo.Idsubgrupo">{{ subgrupo.Descricao }}</option>
              </select>
            </div>

            <div class="input-item" id="grade-box">
              <label for="grade">Grade:</label>
              <select id="grade" name="grade" [(ngModel)]="produto.grade">
                <option *ngFor="let grade of grades" [value]="grade.Idgrade">{{ grade.Descricao }}</option>
              </select>
            </div>

            <div class="input-item" id="familia-box">
              <label for="familia">Família:</label>
              <select id="familia" name="familia" [(ngModel)]="produto.familia">
                <option *ngFor="let familia of familias" [value]="familia.Idfamilia">{{ familia.Descricao }}</option>
              </select>
            </div>

            <div class="input-item" id="tipo-box">
              <label for="tipo">Tipo:</label>
              <input type="text" id="tipo" name="tipo" [(ngModel)]="produto.Tipoproduto" #tipo="ngModel" maxlength="1">
            </div>

            <div class="input-item" id="material-box">
              <label for="material">Material:</label>
              <select id="material" name="material" [(ngModel)]="produto.Material">
                <option *ngFor="let material of materiais" [value]="material.Idmaterial">{{ material.Descricao }}</option>
              </select>
            </div>

            <div class="input-item" id="unidade-box">
              <label for="unidade">Unidade:</label>
              <select id="unidade" name="unidade" [(ngModel)]="produto.unidade">
                <option *ngFor="let unidade of unidades" [value]="unidade.Idunidade">{{ unidade.Descricao }}</option>
              </select>
            </div>

            <div class="input-item" id="classificacao-fiscal-box">
              <label for="classificacao_fiscal">Classificação Fiscal:</label>
              <select id="classificacao_fiscal" name="classificacao_fiscal" [(ngModel)]="produto.classificacao_fiscal" (change)="onClassificacaoFiscalChange($event)">
                <option *ngFor="let ncm of ncms" [value]="ncm.ncm">{{ ncm.ncm }} - {{ truncate(ncm.descricao, 30) }}</option>
              </select>
            </div>
          </div>

          <div class="field-group7">
            <div class="input-item" id="descricao-box">
              <label for="descricao">Descrição:</label>
              <input class="input-caixa" type="text" id="descricao" name="descricao" [(ngModel)]="produto.Descricao" #descricao="ngModel" required maxlength="100">
            </div>

            <div class="input-item" id="desc-reduzida-box">
              <label for="desc_reduzida">Descrição Reduzida:</label>
              <input type="text" id="desc_reduzida" name="desc_reduzida" [(ngModel)]="produto.Desc_reduzida" #desc_reduzida="ngModel" maxlength="100">
            </div>
          </div>

          <div class="field-group4">
            <div class="input-item" id="produto-foto-box">
              <label for="produto_foto">Foto do Produto:</label>
              <input type="text" id="produto_foto" name="produto_foto" [(ngModel)]="produto.produto_foto" (blur)="prefixImagePath('produto_foto')">
              <img *ngIf="produto.produto_foto" [src]="produto.produto_foto | safeUrl" alt="Foto do Produto" style="max-width: 200px; margin-top: 10px;">
            </div>

            <div class="input-item" id="produto-foto1-box">
              <label for="produto_foto1">Foto Adicional 1:</label>
              <input type="text" id="produto_foto1" name="produto_foto1" [(ngModel)]="produto.produto_foto1" (blur)="prefixImagePath('produto_foto1')">
              <img *ngIf="produto.produto_foto1" [src]="produto.produto_foto1 | safeUrl" alt="Foto Adicional 1" style="max-width: 200px; margin-top: 10px;">
            </div>

            <div class="input-item" id="produto-foto2-box">
              <label for="produto_foto2">Foto Adicional 2:</label>
              <input type="text" id="produto_foto2" name="produto_foto2" [(ngModel)]="produto.produto_foto2" (blur)="prefixImagePath('produto_foto2')">
              <img *ngIf="produto.produto_foto2" [src]="produto.produto_foto2 | safeUrl" alt="Foto Adicional 2" style="max-width: 200px; margin-top: 10px;">
            </div>
          </div>

          <div id="success-message" *ngIf="successMessage">{{ successMessage }}</div>
        </div>

        <div class="btn01">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <button type="button" class="btn btn-primary" (click)="resetAction()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Exclusão de Produto -->
  <div *ngIf="action === 'excluir'">
    <h2>Excluir Produto</h2>
    <div *ngIf="produtoSelecionado">
      <p>Tem certeza que deseja excluir o Produto {{ produtoSelecionado.Descricao }}?</p>
      <button type="button" class="btn btn-danger" (click)="deleteProduto()">Excluir</button>
      <button type="button" class="btn btn-secondary" (click)="resetAction()">Cancelar</button>
    </div>
    <div *ngIf="!produtoSelecionado">
      <label for="produto">Selecione um Produto</label>
      <select id="produto" (change)="onProdutoChange($event)" class="form-control">
        <option value="" disabled selected>Selecione um Produto</option>
        <option *ngFor="let produto of produtos" [value]="produto.Idproduto">{{ produto.Descricao }}</option>
      </select>
      <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
    </div>
  </div>
</div>
