.banner {
    text-align: center;
    margin-bottom: 20px; /* Adiciona um espaçamento na parte inferior do banner */
    margin-left: 13px;
}

.banner img {
    width: 98.7vw; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: 765px;
}
