.header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
  height: 48px;
  font-size: 10px;
  width: 96.8vw; /* Garante que ocupe 100% da largura */
}

.header2 {
  background-color: #cacc37;
  color: white;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #ddd;
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos sejam quebrados em várias linhas, se necessário */
  align-items: center;
  width: 96.8vw; /* Garante que ocupe 100% da largura */
  gap: 10px; /* Reduz o espaçamento entre os elementos */
}

.header2 button {
  margin-right: 10px; /* Adiciona espaço entre os botões */
  padding: 5px 10px; /* Ajuste o padding para reduzir o tamanho dos botões */
  font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
}

.header2 .documento-fiscal {
  font-weight: bold; /* Opcional, para dar destaque */
  white-space: nowrap; /* Garante que o texto não quebra para a próxima linha */
}

.selector {
  display: flex;
  align-items: center;
  gap: 10px; /* Reduz o espaçamento entre os elementos */
}

.selector label {
  margin-right: 5px;
}

.selector2 {
  display: flex;
  align-items: center;
  width: 100%; /* Garante que ocupe 100% da largura */
}

.selector2 select {
  flex: 1;
  padding: 5px;
  font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
}

.selector2 .select-button {
  margin-left: 10px; /* Reduz o espaçamento conforme necessário */
  padding: 5px 10px; /* Ajuste conforme necessário */
}

.main {
  display: flex;
  flex: 1;
  width: 100%;  /* Garante que ocupe 100% da largura */
}

.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #ddd;
}

.product-image-container, .menu-container {
  width: 100%;
  background-color: #fff;
  border: 2px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar img {
  max-width: 100%;
  max-height: 200px;
  border: 2px solid #ddd;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os botões */
}

.menu-container ul {
  list-style-type: none;
  padding: 5px;
  width: 100%;
  text-align: left;
  margin-top: 5px;
}

.menu-container li {
  padding: 5px 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;  /* Garante que ocupe o restante da largura */
}

.product-display {
  flex: 1;
  background-color: #fff;
  border: 2px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  width: 83.5vw;  /* Garante que ocupe 100% da largura */
}

.product-display h2 {
  margin: 0;
  margin-bottom: 10px;
}

.product-info-header, .product-info {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.product-info-header {
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.purchase-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 83.5vw;  /* Garante que ocupe 100% da largura */
}

.footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  border-top: 2px solid #ddd;
  width: 96.8vw;  /* Garante que ocupe 100% da largura */
}

.cliente-select {
  flex: 1;
  padding: 5px;
  font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
  width: 100%; /* Garante que ocupe 100% da largura */
}

.product-input {
  display: flex;
  align-items: center;
  gap: 15px; /* Espaçamento entre os elementos */
  margin-bottom: 20px;
}

.product-input label {
  font-weight: bold;
  margin-right: 5px; /* Espaçamento entre o label e o input */
}

.product-input input {
  padding: 5px; /* Ajustar o padding para deixar mais fino */
  border: 1px solid #ddd; /* Ajustar a espessura da borda */
  border-radius: 5px;
  font-size: 14px; /* Ajustar o tamanho da fonte */
}

.product-input button {
  padding: 5px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.product-input button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  padding: 5px;
}

.product-info-header, .product-info {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 1fr 1fr 0.5fr 1fr 1fr; /* Ajuste a proporção conforme necessário */
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.pagamento {
  background-color: #fff;
  border: 2px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 50%; /* Ajuste conforme necessário */
  margin: 0 auto; /* Centraliza a div horizontalmente */
  position: fixed; /* Centraliza a div verticalmente */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.cancel-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.selected-button {
  background-color: #cacc37;
  border-color: #cacc37;
}

/* Adicione essas classes para definir as cores dos botões */
.finalizar-venda-button {
  background-color: #28a745; /* Cor de fundo para o botão Finalizar Venda */
  color: white; /* Cor do texto para o botão Finalizar Venda */
}

.cancelar-venda-button {
  background-color: #dc3545; /* Cor de fundo para o botão Cancelar Venda */
  color: white; /* Cor do texto para o botão Cancelar Venda */
}
