<div class="container">
  <div class="header">
    <h1>PDV - Ponto de Venda</h1>
  </div>

  <div class="header2">
    <div class="selectors">
      <!-- Botão Voltar ao Menu Anterior -->
      <button (click)="voltarAoMenuAnterior()" [disabled]="botaoVoltarDesativado">Home</button>

      <!-- Botão Iniciar Venda -->
      <button (click)="iniciarVenda()">Venda</button>
      <span class="documento-fiscal" *ngIf="documentoFiscal">Cupom Fiscal: {{ documentoFiscal }}</span>

      <div class="selector">
        <label for="loja-select">Loja:</label>
        <select id="loja-select" [(ngModel)]="selectedLoja" (change)="onLojaChange()" [disabled]="!vendaIniciada">
          <option value="" disabled selected>Selecione a Loja</option>
          <option *ngFor="let loja of lojas" [value]="loja.Idloja">{{ loja.nome_loja }}</option>
        </select>
        <button (click)="selectLoja()" [disabled]="!selectedLoja || !vendaIniciada" [ngClass]="{ 'selected-button': selectedLoja }">Selecionar</button>

        <label for="vendedor-code">Vendedor:</label>
        <select id="vendedor-code" [(ngModel)]="selectedVendedor" [disabled]="!vendaIniciada || !selectedLoja">
          <option value="" disabled selected>Selecione o Vendedor</option>
          <option *ngFor="let vendedor of vendedores" [value]="vendedor.Idfuncionario">{{ vendedor.apelido }}</option>
        </select>
        <button (click)="selectVendedor()" [disabled]="!selectedVendedor" [ngClass]="{ 'selected-button': selectedVendedor }">Selecionar</button>

        <!-- Campo Cliente -->
        <div class="selectorcliente">
          <label for="cliente-code">Cliente:</label>
          <mat-form-field class="cliente-input" appearance="fill">
            <input type="text" matInput placeholder="Digite o Código ou Nome do Cliente" [formControl]="clienteCtrl" [matAutocomplete]="auto" [disabled]="!vendaIniciada || !selectedLoja || !selectedVendedor">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onClienteSelected($event.option.value)">
              <mat-option *ngFor="let cliente of clientesFiltrados | async" [value]="cliente">
                {{ cliente.Nome_cliente }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button (click)="selectCliente()" [disabled]="!selectedCliente" [ngClass]="{ 'selected-button': selectedCliente }">Selecionar</button>
          <button (click)="novoCliente()" [disabled]="!vendaIniciada || !selectedLoja || !selectedVendedor">Novo Cliente</button>
        </div>
      </div> 
    </div>
  </div>

  <div class="main" *ngIf="isAuthorized; else unauthorizedMessage">
    <div class="sidebar">
      <div class="product-image-container">
        <img [src]="produtoFoto" alt="Foto do Produto" id="product-image">
      </div>

      <div class="menu-container">
        <button class="finalizar-venda-button" (click)="finalizarVenda()" [disabled]="produtos.length === 0">Finalizar Venda</button>
        <button class="cancelar-venda-button" *ngIf="vendaIniciada" (click)="showCancelDialog()" class="cancelar-venda">Cancelar Venda</button>
      </div>
    </div>
    <div class="content">
      <div class="product-input">
        <label for="product-code">Código de Barras:</label>
        <input type="text" id="product-code" [(ngModel)]="productCode" [disabled]="!vendaIniciada || !selectedLoja || !selectedVendedor || !selectedCliente">
        <label for="product-qty">Quantidade:</label>
        <input type="number" id="product-qty" [(ngModel)]="productQty" min="1" [disabled]="!vendaIniciada || !selectedLoja || !selectedVendedor || !selectedCliente">
        <button (click)="adicionarProduto()" [disabled]="!vendaIniciada || !selectedLoja || !selectedVendedor || !selectedCliente">Adicionar Produto</button>
      </div>
      <div class="product-display">
        <div class="product-info-header">
          <div>Item</div>
          <div>Código</div>
          <div>Descrição</div>
          <div>Cor</div>
          <div>Tamanho</div>
          <div>Qtd</div>
          <div>Preço</div>
          <div>Total</div>
          <div>Ações</div>
        </div>

        <div *ngFor="let produto of produtos; let i = index">
          <div class="product-info">
            <div>{{ produto.id }}</div>
            <div>{{ produto.codigo }}</div>
            <div>{{ produto.descricao }}</div>
            <div>{{ produto.cor }}</div>
            <div>{{ produto.tamanho }}</div>
            <div>{{ produto.quantidade }}</div>
            <div>R$ {{ produto.preco }}</div>
            <div>R$ {{ produto.total }}</div>
            <div>
              <button (click)="excluirProduto(i)">Excluir</button>
            </div>
          </div>
        </div>
        </div>
        <div class="purchase-summary">

          <div class="totals-container">
            <h2>Total Itens: {{ totalItens }}</h2>
            <h2>Total Compra: R$ {{ totalCompra }}</h2>
          </div>
        </div>
        

    </div>

    <!-- Tela de pagamento -->
    <div *ngIf="exibirPagamento" class="pagamento">
      <h2>Pagamento</h2>
      <div class="form-group">
        <label for="totalVenda">Total da Venda:</label>
        <input type="text" id="totalVenda" [value]="totalCompra | currency:'BRL'" disabled>
      </div>
      <div class="form-group">
        <label for="desconto">Desconto (%):</label>
        <input type="number" id="desconto" [(ngModel)]="desconto" (input)="atualizarTotalComDesconto()" min="0" max="100" step="0.01" placeholder="Digite o desconto (%)">
      </div>
      <div class="form-group">
        <label for="totalComDesconto">Total com Desconto:</label>
        <input type="text" id="totalComDesconto" [value]="totalComDesconto | currency:'BRL'" disabled>
      </div>
      <div class="form-group">
        <label for="formaPagamento">Forma de Pagamento:</label>
        <select id="formaPagamento" [(ngModel)]="formaPagamento">
          <option value="PIX">PIX</option>
          <option value="DEBITO">Débito</option>
          <option value="CREDITO_A_VISTA">Crédito à Vista</option>
          <option value="CREDITO_PARCELADO">Crédito Parcelado</option>
          <option value="DINHEIRO">Dinheiro</option>
        </select>
      </div>

      <!-- Campo para número de parcelas, mostrado apenas se "Crédito Parcelado" for selecionado -->
      <div class="form-group" *ngIf="formaPagamento === 'CREDITO_PARCELADO'">
        <label for="numeroParcelas">Número de Parcelas:</label>
        <input type="number" id="numeroParcelas" [(ngModel)]="numeroParcelas" min="1" max="12" />
      </div>

      <button (click)="confirmarPagamento()">Confirmar Pagamento</button>
    </div>

    <!-- Tela de confirmação após a finalização da venda -->
    <div *ngIf="vendaFinalizada" class="confirmacao-venda">
      <h2>Venda Finalizada com Sucesso!</h2>
      <p>Tecle algo para Continuar!</p>
      <button (click)="continuarVenda()">Continuar</button>
    </div>


    <!-- Diálogo de cancelamento -->
    <div *ngIf="mostrarDialogoCancelamento" class="cancel-dialog">
      <h2>Cancelar Venda</h2>
      <div class="form-group">
        <label for="senhaCancelamento">Senha de Cancelamento:</label>
        <input type="password" id="senhaCancelamento" [(ngModel)]="senhaCancelamento">
      </div>
      <button (click)="cancelarVenda()">Confirmar Cancelamento</button>
      <button (click)="fecharDialogoCancelamento()">Fechar</button>
    </div>
  </div>

  <ng-template #unauthorizedMessage>
    <div class="footer">
      <p>Usuário não autorizado</p>
    </div>
  </ng-template>
</div>
