<div class="container">
  <div class="header">
    <h1>PDV - Ponto de Venda</h1>
  </div>

  <div class="header2">
    <div class="selectors">
      <!-- Botão Voltar ao Menu Anterior -->
      <button (click)="voltarAoMenuAnterior()" [disabled]="botaoVoltarDesativado">Voltar ao Menu Anterior</button>

      <!-- Botão Iniciar Venda -->
      <button (click)="iniciarVenda()">Iniciar Venda</button>

      <div class="selector">
        <label for="loja-select">Loja:</label>
        <select id="loja-select" [(ngModel)]="selectedLoja" (change)="onLojaChange()" [disabled]="!vendaIniciada">
          <option *ngFor="let loja of lojas" [value]="loja.Idloja">{{ loja.nome_loja }}</option>
        </select>
      </div>
      <div class="selector">
        <label for="vendedor-code">Vendedor:</label>
        <select id="vendedor-code" [(ngModel)]="selectedVendedor" [disabled]="!vendaIniciada">
          <option *ngFor="let vendedor of vendedores" [value]="vendedor.Idfuncionario">{{ vendedor.apelido }}</option>
        </select>
      </div>
      <div class="selector2">
        <label for="cliente-code">Cliente:</label>
        <input type="text" id="cliente-code" class="cliente-select" placeholder="Digite o Código ou Nome do Cliente" [(ngModel)]="clienteInput" (keyup)="buscarCliente($event)" [disabled]="!vendaIniciada">
        <div *ngIf="clientes.length">
          <ul>
            <li *ngFor="let cliente of clientes" (click)="selectCliente(cliente)">
              {{ cliente.Nome_cliente }}
            </li>
          </ul>
        </div>
      </div>
      <!-- Botão Cancelar Venda -->
      <button *ngIf="vendaIniciada" (click)="cancelarVenda()" class="cancelar-venda">Cancelar Venda</button>
    </div>
  </div>

  <div class="main" *ngIf="isAuthorized; else unauthorizedMessage">
    <div class="sidebar">
      <div class="product-image-container">
        <p>Produto camisa de manga</p>
        <img src="https://via.placeholder.com/150" alt="Foto do Produto" id="product-image">
      </div>
      <div class="menu-container">
        <h2>Opções</h2>
        <ul>
          <li>Pagamento</li>
          <li>Descontos</li>
          <li>Envio do Cupom</li>
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="product-input">
        <label for="product-code">Código de Barras:</label>
        <input type="text" id="product-code" [(ngModel)]="productCode" [disabled]="!vendaIniciada">
        <label for="product-qty">Quantidade:</label>
        <input type="number" id="product-qty" [(ngModel)]="productQty" min="1" [disabled]="!vendaIniciada">
        <button (click)="adicionarProduto()" [disabled]="!vendaIniciada">Adicionar Produto</button>
      </div>
      <div class="product-display">
        <div class="product-info-header">
          <div>Item</div>
          <div>Código</div>
          <div>Descrição</div>
          <div>Qtd</div>
          <div>Preço</div>
          <div>Total</div>
        </div>
        <div *ngFor="let produto of produtos">
          <div class="product-info">
            <div>{{ produto.id }}</div>
            <div>{{ produto.codigo }}</div>
            <div>{{ produto.descricao }}</div>
            <div>{{ produto.quantidade }}</div>
            <div>R$ {{ produto.preco }}</div>
            <div>R$ {{ produto.total }}</div>
          </div>
        </div>
      </div>
      <div class="purchase-summary">
        <div>
          <h2>Total da Compra</h2>
        </div>
        <div>
          <h2>R$ {{ totalCompra }}</h2>
        </div>
      </div>
    </div>
  </div>
  <ng-template #unauthorizedMessage>
    <div class="footer">
      <p>Usuário não autorizado</p>
    </div>
  </ng-template>
</div>
