<div class="container mt-3">
    <div class="op01" *ngIf="!action">
      <div class="banner1">Famílias</div>
      <button class="btn btn-dark action-button" (click)="setAction('cadastrar')">Cadastrar Nova Família</button>
      <button class="btn btn-dark action-button" (click)="setAction('consultar')">Consultar Famílias</button>
      <button class="btn btn-dark action-button" (click)="setAction('editar')">Editar Família</button>
      <button class="btn btn-dark action-button" (click)="setAction('excluir')">Excluir Família</button>
      <button class="btn btn-dark action-button" (click)="goToIndex()">Voltar</button>
    </div>
  
    <!-- Inicio do cadastro -->
    <div *ngIf="action === 'cadastrar'">
      <div class="banner">CADASTRO DE FAMÍLIA</div>
      <form #familiaForm="ngForm" (ngSubmit)="addFamilia()">
        <div class="principal">
          <div class="input-item" id="descricao-box">
            <label for="descricao">Descrição:</label>
            <input class="input-caixa" type="text" id="descricao" name="descricao" [(ngModel)]="familia.Descricao" #descricao="ngModel" required maxlength="100">
          </div>
          <div class="input-item" id="codigo-box">
            <label for="codigo">Código:</label>
            <input type="text" id="codigo" name="codigo" [(ngModel)]="familia.Codigo" #codigo="ngModel" maxlength="10">
          </div>
        </div>
        <div id="success-message" *ngIf="successMessage">Família adicionada com sucesso!</div>
        <div class="btn01">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <button type="button" class="btn btn-primary" (click)="resetAction()">Cancelar</button>
        </div>
      </form>
    </div>
    <!-- Fim do cadastro -->
  
    <!-- Inicio do consultar -->
    <div *ngIf="action === 'consultar'">
      <div *ngIf="!familiaSelecionada">
        <label for="familia">Selecione uma Família</label>
        <select id="familia" (change)="onFamiliaChange($event)" class="form-control">
          <option value="" disabled selected>Selecione uma família</option>
          <option *ngFor="let familia of familias" [value]="familia.Idfamilia">{{ familia.Descricao }} ({{ familia.Codigo }})</option>
        </select>
        <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
      </div>
  
      <div *ngIf="familiaSelecionada">
        <div class="banner">CONSULTA DE FAMÍLIA</div>
        <form>
          <div class="principal">
            <div class="input-item" id="descricao-box">
              <label for="descricao">Descrição:</label>
              <input class="input-caixa" type="text" id="descricao" name="descricao" [(ngModel)]="familiaSelecionada.Descricao" #descricao="ngModel" disabled>
            </div>
            <div class="input-item" id="codigo-box">
              <label for="codigo">Código:</label>
              <input type="text" id="codigo" name="codigo" [(ngModel)]="familiaSelecionada.Codigo" #codigo="ngModel" disabled>
            </div>
          </div>
          <div class="btn01">
            <button type="button" class="btn btn-primary" (click)="resetAction()">Voltar</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Fim do consultar -->
  
    <!-- Inicio do Editar -->
    <div *ngIf="action === 'editar'">
      <div *ngIf="!familiaSelecionada">
        <label for="familia">Selecione uma Família</label>
        <select id="familia" (change)="onFamiliaChange($event)" class="form-control">
          <option value="" disabled selected>Selecione uma família</option>
          <option *ngFor="let familia of familias" [value]="familia.Idfamilia">{{ familia.Descricao }} ({{ familia.Codigo }})</option>
        </select>
        <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
      </div>
  
      <div *ngIf="familiaSelecionada">
        <div class="banner">ALTERAÇÃO DE FAMÍLIA</div>
        <form #familiaForm="ngForm" (ngSubmit)="updateFamilia()">
          <div class="principal">
            <div class="input-item" id="descricao-box">
              <label for="descricao">Descrição:</label>
              <input class="input-caixa" type="text" id="descricao" name="descricao" [(ngModel)]="familia.Descricao" #descricao="ngModel" required maxlength="100">
            </div>
            <div class="input-item" id="codigo-box">
              <label for="codigo">Código:</label>
              <input type="text" id="codigo" name="codigo" [(ngModel)]="familia.Codigo" #codigo="ngModel" maxlength="10">
            </div>
          </div>
          <div id="success-message" *ngIf="successMessage">Família atualizada com sucesso!</div>
          <div class="btn01">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn btn-primary" (click)="resetAction()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Fim do Editar -->
  
    <!-- Inicio do Excluir -->
    <div *ngIf="action === 'excluir'">
      <h2>Excluir Família</h2>
      <div *ngIf="familiaSelecionada">
        <p>Tem certeza que deseja excluir a família {{ familiaSelecionada.Descricao }} ({{ familiaSelecionada.Codigo }})?</p>
        <button type="button" class="btn btn-danger" (click)="deleteFamilia()">Excluir</button>
        <button type="button" class="btn btn-secondary" (click)="resetAction()">Cancelar</button>
      </div>
      <div *ngIf="!familiaSelecionada">
        <label for="familia">Selecione uma Família</label>
        <select id="familia" (change)="onFamiliaChange($event)" class="form-control">
          <option value="" disabled selected>Selecione uma família</option>
          <option *ngFor="let familia of familias" [value]="familia.Idfamilia">{{ familia.Descricao }} ({{ familia.Codigo }})</option>
        </select>
        <button type="button" class="btn btn-secondary" (click)="resetAction()">Voltar</button>
      </div>
    </div>
    <!-- Fim do Excluir -->
  
  </div>
  
