form{
    padding: 10px;
    border: 2px solid
}
.principal{
    border: 2px solid;
    padding: 5px;
    margin-top: 5px;
}

.field-group {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    gap: 10px;
}

.field-group2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    gap: 10px;
}

.field-group3 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    gap: 10px;
}

.field-group4 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    gap: 10px;
}

.field-group44 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    gap: 10px;
}

.field-group5 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    gap: 10px;
}



.input-item {
    display: flex;
    flex-direction: column;
}


#codigo-box {
    grid-row: 1;
    grid-column: 1; /* Posiciona estes itens na primeira coluna */
    width: 300px;
}

#descricao-box {
    grid-row: 1;
    grid-column: 2; /* Posiciona estes itens na primeira coluna */
    width: 550px;
}

#categoria-box{
    grid-row: 2;
    grid-column: 1; /* Posiciona estes itens na primeira coluna */
    width: 300px;

}

#subcategoria-box {
    grid-row: 2;
    grid-column: 2; /* Posiciona estes itens na primeira coluna */
    width: 300px;
}

#tipo-box {
    grid-row: 2;
    grid-column: 3; /* Posiciona estes itens na primeira coluna */
    width: 250px;
}


#status-box {
    grid-row: 3;
    grid-column: 1; /* Posiciona estes itens na primeira coluna */
    width: 100px;
}
#tipo-natureza-box{
    grid-row: 4;
    grid-column: 1; /* Posiciona estes itens na primeira coluna */
    width: 100px;

}

.banner, .buttons {
    grid-column: 1 / -1; /* Faz com que o banner e botões ocupem todas as colunas */
}

.banner {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid;
    padding: 5px;

}

.banner1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid;
    padding: 5px;

}

.button {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
    border: 2px solid;
    padding: 5px;
    margin: 10px;
    margin-right: auto;
    margin-left: 90px;
}

.botao {
    padding: 10px 20px;
}

.input-caixa, input {
    width: 100%; /* Faz os inputs preencherem seus contêineres */
    padding: 8px;
}

.banner-principal {
 
    background-color: #343a40;  /* Dark background similar to navbar for consistency */
    color: #ffffff;            /* White text color */
    text-align: center;        /* Center the text */
    padding: 10px 0;           /* Add some padding for spacing */
    font-size: 24px;           /* Larger font size for visibility */
    font-weight: bold;         /* Make the font bold */
    border-bottom: 2px solid #666; /* Optional: adds a subtle border for a distinct look */
    }

.btn01 .btn-primary {
    padding: 5px;
    margin-top: 5px;
    margin-right: 30px;

}

.op01{
    border: 2px solid;
}

.action-button {
    margin: 10px;
    margin-right: auto;
    margin-left: 90px;
  }
 