form{
    padding: 10px;
    border: 2px solid
}
.principal{
    border: 2px solid;
    padding: 5px;
    margin-top: 5px;
}

.field-group {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    gap: 10px;
}

.field-group2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    gap: 10px;
}

.field-group3 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    gap: 10px;
}

.field-group4 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    gap: 10px;
}

.field-group44 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    gap: 10px;
}

.field-group5 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    gap: 10px;
}



.input-item {
    display: flex;
    flex-direction: column;
}


#nome_loja-box {
    grid-row: 1;
    grid-column: 1; /* Posiciona estes itens na primeira coluna */
    width: 600px;
}

#apelido-box {
    grid-row: 1;
    grid-column: 2; /* Posiciona estes itens na primeira coluna */
    width: 250px;
}


#cnpj-box {
    grid-row: 2;
    grid-column: 1; /* Posiciona estes itens na primeira coluna */
    width: 350px;
}

#data-abertura-box {
    grid-row: 2;
    grid-column: 3; /* Posiciona estes itens na primeira coluna */
    width: 250px;
}

#estoque-negativo-box {
    grid-row: 2;
    grid-column: 5; /* Posiciona estes itens na primeira coluna */
    width: 200px;
}


#rede-box {
    grid-row: 2;
    grid-column: 7; /* Posiciona estes itens na primeira coluna */
    width: 50px;
}

#matriz-box {
    grid-row: 2;
    grid-column: 9; /* Posiciona estes itens na primeira coluna */
    width: 50px;
}

#tipo-box {
    grid-row: 3;
    grid-column: 1; /* Posiciona estes itens na primeira coluna */
    width: 100px;
}

#endereco-box {
    grid-row: 3;
    grid-column: 2; /* Posiciona estes itens na primeira coluna */
    width: 950px;
}

#numero-box {
    grid-row: 3;
    grid-column: 8; /* Posiciona estes itens na primeira coluna */
    width: 100px;
}
#complemento-box{
    grid-row: 4;
    grid-column: 1; /* Posiciona estes itens na primeira coluna */
    width: 1000px;

}


#cidade-box{
    grid-row: 5;
    grid-column: 1; /* Posiciona estes itens na primeira coluna */
    width: 500px;

}

#bairro-box{
    grid-row: 5;
    grid-column: 3; /* Posiciona estes itens na primeira coluna */
    width: 500px;

}

#cep-box{
    grid-row: 5;
    grid-column: 8; /* Posiciona estes itens na primeira coluna */
    width: 120px;

}

#telefone1-box{
    grid-row: 6;
    grid-column: 1; /* Posiciona estes itens na primeira coluna */
    width: 150px;

}

#telefone2-box{
    grid-row: 6;
    grid-column: 3; /* Posiciona estes itens na primeira coluna */
    width: 150px;

}



#email-box{
    grid-row: 6;
    grid-column: 5; /* Posiciona estes itens na primeira coluna */
    width: 500px;

}

#conta-contabil-box{
    grid-row: 6;
    grid-column: 7; /* Posiciona estes itens na primeira coluna */
    width: 250px;

}






.banner, .buttons {
    grid-column: 1 / -1; /* Faz com que o banner e botões ocupem todas as colunas */
}

.banner {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid;
    padding: 5px;

}

.banner1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid;
    padding: 5px;

}

.button {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
    border: 2px solid;
    padding: 5px;
    margin: 10px;
    margin-right: auto;
    margin-left: 90px;
}

.botao {
    padding: 10px 20px;
}

.input-caixa, input {
    width: 100%; /* Faz os inputs preencherem seus contêineres */
    padding: 8px;
}

.banner-principal {
 
    background-color: #343a40;  /* Dark background similar to navbar for consistency */
    color: #ffffff;            /* White text color */
    text-align: center;        /* Center the text */
    padding: 10px 0;           /* Add some padding for spacing */
    font-size: 24px;           /* Larger font size for visibility */
    font-weight: bold;         /* Make the font bold */
    border-bottom: 2px solid #666; /* Optional: adds a subtle border for a distinct look */
    }

.btn01 .btn-primary {
    padding: 5px;
    margin-top: 5px;
    margin-right: 30px;

}

.op01{
    border: 2px solid;
}

.action-button {
    margin: 10px;
    margin-right: auto;
    margin-left: 90px;
  }
 